.user-container {
    margin: 10px;
    height: calc(100vh - 64px); 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-header {
    border: 1px solid #ddd;
    padding: 20px 20px;
    border-radius: 5px;
    background: #fff;
}

.user-header h2 {
    margin: 0;
}

.user-header h5 {
    margin: 0;
    font-weight: normal;
    color: #888;
}

.user-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 16px 20px;
    border-radius: 5px;
    background: #fff;
}

.user-bar_left {
    display: flex;
    gap: 12px;
    align-items: center;
}

.user-search {
    width: 300px;
}

.user-arrange {
    width: 160px;
}

.ant-table-thead > tr > th {
    background: #f3f4f6 !important;
    font-weight: 600;
}

.ant-table-tbody > tr > td {
    padding: 18px 16px;
}
