- name: Install required packages
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present

- name: Create directory for Docker GPG key
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Download Docker GPG key 
  get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /tmp/docker.asc
    mode: '0644'

- name: De-armor Docker GPG key 
  command: gpg --dearmor -o /etc/apt/keyrings/docker.gpg /tmp/docker.asc
  args:
    creates: /etc/apt/keyrings/docker.gpg  

- name: Add Docker Repository
  apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
    filename: docker
    update_cache: yes

- name: Install Docker Engine
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
      - docker-buildx-plugin
    state: present
    update_cache: yes
    lock_timeout: 300

- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: yes

- name: Check the Docker version
  shell:
    cmd: docker --version

- name: Add user to Docker group
  user:
    name: deployer
    groups: docker
    append: yes

- name: Reset ssh connection to apply group changes
  meta: reset_connection

- name: Install Python 3 and pip
  apt:
    name:
      - python3
      - python3-pip
    state: present
    update_cache: yes