.profile__dropdown {
    background: #fff;
    border-radius: 5px;
    min-width: 100px;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    overflow: hidden;
}

.profile__up {
    border-bottom: 1px solid #eaeaea;
}

.item {
    padding: 10px;
}

.item:hover {
    background: #f5f7fa;
    cursor: pointer;
}

.profile__btn {
    padding: 0;
}

.profile__avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}

.profile__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}